* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(61, 24, 97);
}

/* CARD */
.config-container,
.quiz-container {
  width: 420px;
  background: rgb(161, 145, 176);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.category-options {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.category-option {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.category-option img {
  width: 80px;
  height: 80px;
}

.category-option.active {
  border: 3px solid #4b2c7a;
}

.question-count {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.question-count button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  font-size: 16px;
}

.question-count button.active {
  background: #4b2c7a;
  color: white;
}

.start-quiz-btn,
.next-question-btn {
  margin-top: 15px;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  background: rgb(16, 3, 16);
  color: white;
  cursor: pointer;
}

/* QUIZ */
.quiz-container {
  display: none;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.question-text {
  margin-bottom: 15px;
}

.answer-options {
  list-style: none;
}

.answer-option {
  background: white;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}